{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Confirm Friend Request</legend>
                <h2>Are you sure you want to confirm the friend request of "{{ user.id }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Yes</button>
                <a class="btn btn-danger" href="#">Reject</a>
            </div>
        </form>
    </div>
{% endblock content %}