{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% if request.GET.q != '' %}
{% if results %}
<h1>Status of friend_requests</h1>
<table border="1px solid #fff" id = "friends">
    <tr>
        <th>Profile Picture</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Status</th>
    </tr>
    {% for result in results %}

    <tr>
        <td>
            <img src="{{result.profile.image.url}}" class="rounded-circle account-img" alt="Profile Picture">
        </td>
        <td><a href="{% url 'profile' result.id %}">{{result.first_name}} {{ result.last_name }}</td>
        <td>{{result.email}}</td>
        {%if status == accepted %}
        <td>Added</td>
        {% elif status == pending %}
        <td>Pending</td>
        {% elif status == cancel %}
        <td>Rejected</td>
        {%endif%}
    </tr>

{% endfor %}

</table>

{% else %}
No search results for this query
{% endif %}
{% endif %}
{% endblock  %}
