{% extends "blog/base.html" %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile Picture">
        <div class="media-body">
          Full name:<h2 class="account-heading">{{ user.first_name }} {{user.last_name }}</h2>
          Email:<p class="text-secondary">{{ user.email }}</p>
          Username: <p class="text-secondary">{{ user.username }}</p>
          Date of birth: <p class="text-secondary">{{ user.dateofbirth }}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="form-group">
        <button class="btn btn-outline-info" type="Submit"><a href="{% url 'profile'%}">Edit</a>
        </button>
          {% else %}
        <button type="button" class="btn btn-primary">
              Add Friend
        </button>
      </div>
        {% endif %}
      <div class="form-group">
      </div>
	</div>
{% endblock %}
